@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=VT323&display=swap');


body {
    margin: 0.5%;
    padding: 0.5%;
    background-color: #0263A3;
}

form {
    padding: 1em 2% 2% 2%;
    background-color: #D7ECFA;
    color: #5A3E1D;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 3px 3px rgba(1, 52, 74, 0.363);
    font-size: 1.1em;
}

.titulo {
    background-color: #0263A3;
    color: #FDECD7;
    margin-bottom: 2rem;
    padding-bottom: 0.1%;
    border-radius: 1em 1em;
    box-shadow: 2px 2px rgba(1, 52, 74, 0.363);
    font-family: 'Righteous';
    text-align: center;
}

.dados {
    margin-top: 3em;
    padding: 0em 5rem;
    text-align: center;
}

.pai_labels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
    justify-content: center;
}

.labels {
    width: 26em;
    height: 2em;
    padding: 0.5em 0em 0.5em 0em;
}

h1 {
    margin-top: 0.6%;
}

input, textarea {
    border-radius: 5px;
    box-shadow: 2px 2px rgba(1, 52, 74, 0.363);
    padding: 0.1em 3em;
}

#enviar {
    padding: 0.5em;
    background-color: #FFAE52;
    color: #5A3E1D;
    cursor: pointer;
    font-weight: bold;
}

#enviar:hover {
    background-color: #FDECD7;
}

.resto {
    /* padding: 0em 31em; */
}

.radios {
    display: block;
    text-align: left;
    padding: 0em 30em;
    
}

@media screen and (min-width: 1201px) and (max-width: 1599px) {
    .radios {
        display: block;
        text-align: left;
        padding: 0em 19em;
    }   
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .radios {
        display: block;
        text-align: left;
        padding: 0em 10em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .radios {
        display: block;
        text-align: left;
        padding: 0em 9em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .dados {
        margin-top: 1em;
        text-align: left;
    }

    .radios {
        display: block;
        text-align: left;
        padding: 0em 1em;
    }   
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .dados {
        margin-top: 3em;
        text-align: center;
    }

    .radios {
        display: block;
        text-align: left;
        padding: 0em 1em;
    }       
}